.button {
   border: none;
   font: inherit;
   background: rgb(230, 60, 60);
   /* background: rgb(33, 33, 171); */
   color: #fff;
   padding: 0.75rem 1.25rem;
   display: flex;
   justify-content: space-around;
   border-radius: 8px;
   align-items: center;
   font-weight: bold;
}

.badge {
   background: #646be6;
   padding: 0.2rem 0.5rem;
   border-radius: 8px;
   margin-left: 1rem;
   font-weight: bold;
}
